.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: #00c3f8;
}

.headerConnectBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
  width: 10%;
}

.loggedInMain {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loggedInAccount {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.dataContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 67rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27rem;
  height: 23rem;
  border: 0.5px solid #9b9b9b;
  border-radius: 7px;
  margin: 1rem;
  padding: 0 2rem;
}

.cardContainer h1 {
  color: #e78db3;
  font-size: 1.2rem;
  text-align: center;
}

.cardContainer img {
  width: 17rem;
  height: 11.2rem;
  object-fit: cover;
}

@media (max-width: 1350px) {
  .loggedInAccount {
    flex-direction: column;
    align-items: center;
  }

  .headerConnectBtn {
    width: 16%;
  }
}
