body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(33, 33, 38);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.sc-dFdIVH {
  background-color: rgba(0,0,0,0) !important;
}

.sc-hKdnnL{
  background-color: rgba(33, 33, 38, 0.95) !important;
  color: white !important;
  font-size: 20px !important;
  font-weight: bold !important;
}
