
.list{
  width:90%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 150px;
  row-gap: 50px;
}


.header {
  height: 100px;
  width: 90%;
  margin: auto;
  max-width: 1200px;
  padding: 5px;
  display: flex;
  justify-content: space-between;

  align-items: center;

}

.logo{
  display: flex;
  gap:10px;
  font-size: 40px;
  font-weight: 600;
  color: white;
  align-items: center;
}

.instructions{
  margin-top: 50px;
  height:150px;
  display: flex;
  justify-content: center;
  width: 600px;
  margin: auto;
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-align: center;
  line-height: 50px;
}


.sc-kTvvXX {
  background-color: #202c37 !important;
  width: 40vw !important;
  height: 450px;
}
