.container {
  padding: 0 2rem;
  background-color: #fcfcfc;
  color: #000000;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: #00c3f8;
}

.getForm {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.blockNumber {
  width: 100%;
  height: 2.5rem;
  background-color: #fcfcfc;
  color: #041836;
  outline: none;
  border: 1px solid #cbcbcb;
  border-radius: 0.2rem;
  margin-bottom: 1.2rem;
}

.label {
  margin: 0.5rem 0 0.2rem;
  padding-bottom: 0.2rem;
  color: #041836;
}

.form_btn {
  width: 40vw;
  height: 3rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  background-color: #00c3f8;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.form_btn:hover {
  background-color: #11a7d1;
}

.result {
  width: 40vw;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  color: #041836;
  text-shadow: 1px 1px 2px #dedede;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 0.7rem;
  margin-top: 2rem;
  padding: 0 0.7rem;
}

.resultContainer_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.7rem;
  border-bottom: 1px solid #cdcdcd;
}

.resultContainer_header > span {
  font-size: 1rem;
}

.resultContainer_data {
  display: flex;
  flex-direction: column;
  margin: 0.7rem;
  font-size: 1rem;
  width: 100%;
}

.headerConnectBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  /* background-color: red; */
}

.loggedInMain {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loggedInAccount {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 1350px) {
  .loggedInAccount {
    flex-direction: column;
    align-items: center;
  }

  .result {
    width: 60vw;
  }
}
