.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nfts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-self: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  font-size: 20px !important;
}

.results {
  margin-top: 30px;
}

.result-card {
  width: 900px !important;
  
}

.result-element {
  display: flex;
}

.result-element p {
  font-size: 16px;
}

.result-begin {
  flex-basis: 20%;
}

.result-end {
  flex-basis: 80%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
}

.horizontal-card {
  display: flex !important;
}

.horizontal-card img {
  width: 300px !important;
}

.horizontal-card p {
  font-size: 18px;
}

.traits{
  display: flex;
}

.traits p {
  margin-right: 20px;
}