.container {
  padding: 0 2rem;
  background-color: #fcfcfc;
  color: #000000;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 1rem;
  width: 100%;
}

.title {
  font-size: 4rem;
  text-align: center;
  color: #00c3f8;
}

.getTokenForm {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.walletAddress {
  width: 100%;
  height: 2.5rem;
  background-color: #fcfcfc;
  color: #041836;
  outline: none;
  border: 1px solid #68738d;
  border-radius: 0.2rem;
  margin-bottom: 1.2rem;
}

.label {
  padding-bottom: 0.2rem;
  color: #041836;
}

.form_btn {
  width: 40vw;
  height: 3rem;
  font-size: 1.2rem;
  background-color: #00c3f8;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.form_btn:hover {
  background-color: #11a7d1;
}

.result {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  color: #041836;
  text-shadow: 1px 1px 2px #dedede;
}

.tokenContainer {
  display: flex;
  align-items: center;
  border: 1px solid #68738d;
  border-radius: 0.7rem;
  margin-top: 1rem;
}

.tokenContainer > img {
  flex-basis: 10%;
  padding-left: 1rem;
}

.name {
  flex-basis: 50%;
  text-align: right;
}

.amount {
  flex-basis: 40%;
  text-align: right;
  margin-right: 1rem;
}
