.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #161616;
}

.header {
  width: 100%;
  background-color: #111111;
}

.topHeader {
  display: flex;
  align-items: center;
  color: #bbbbbb;
  height: 3rem;
  font-size: 0.85rem;
  padding: 0 11.5rem;
  border-bottom: 1px solid #222222;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.3rem;
  padding: 0 11.5rem;
  border-bottom: 1px solid #222222;
}

.logo {
  width: 9rem;
  height: auto;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #cccccc;
  width: 44.7rem;
  letter-spacing: 0.01rem;
}

.menu > p {
  display: flex;
  align-items: center;
}

.menu > p:hover {
  color: #3778ad;
  cursor: pointer;
}

.arrow {
  display: flex;
  width: 1rem;
}

.searchContainer {
  width: 100%;
}

.searchSection {
  background-color: rgba(0, 0, 0, 0.506);
  background-image: url("https://etherscan.io/images/svg/waves-light.svg");
  height: 15rem;
  padding: 0 11.5rem;
  padding-top: 3rem;
}

.searchSection > h3 {
  padding-bottom: 1rem;
  font-size: 1.3rem;
  letter-spacing: 0.02rem;
}

.input_section {
  display: flex;
  align-items: center;
  width: 50.5rem;
  height: 3rem;
  border: 1px solid #191919;
  border-radius: 0.3rem;
  background-color: #111111;
}

.inputField {
  width: 48rem;
  color: #ffffff;
  height: 2rem;
  padding-left: 2rem;
  border: none;
  background-color: #111111;
  font-size: 1rem;
}

.inputField::placeholder {
  color: #bbbbbb;
  font-size: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  background-color: #3a82be;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.magnifying {
  width: 1.1rem;
}

.searchResults {
  background-color: #111111;
  margin: 2rem 11.5rem;
  border: 1px solid #222222;
  border-radius: 0.5rem;
  box-shadow: 0rem 0 1.5rem #ffffff09;
  padding: 1rem;
}

.searchResults > p {
  letter-spacing: 0.02rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #191919;
  margin-bottom: 1rem;
}

.blueText {
  color: #7cb3d7;
}

.txnSection {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.txnTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #191919;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.txnTitle > th {
  width: 9rem;
  text-align: center;
}

.txn {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #191919;
}

.txn > td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3rem;
  text-align: center;
}

.transfer {
  font-size: 0.8rem;
  background-color: #151515;
  padding: 0.35rem 1.2rem;
  border: 1px solid #2c2c2c;
  border-radius: 0.3rem;
}

.inTxn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #161f1d;
  color: #479f87;
  border: 1px solid #223f37;
  border-radius: 0.3rem;
}

.outTxn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #2d2615;
  color: #96792a;
  border: 1px solid #4c3f1e;
  border-radius: 0.3rem;
}
